<div id="map"></div>

<div class="map-controls">
  <button mat-mini-fab (click)="centerMap()" class="map-button center-button">
    <mat-icon>my_location</mat-icon>
  </button>

  <mat-button-toggle-group vertical class="zoom-group">
    <mat-button-toggle value="in" (click)="zoomIn()" aria-label="Zoom in">
      <mat-icon>add</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="out" (click)="zoomOut()" aria-label="Zoom out">
      <mat-icon>remove</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
