<div class="navbar-container">
  <div class="navbar-left">
    <div class="input-container mat-elevation-z3">

      <input class="input-field" placeholder="Search for Tours and Places" [(ngModel)]="searchQuery">
      @if (searchQuery()){
        <button mat-icon-button (click)="searchQuery.set('')"><mat-icon>close</mat-icon></button>
      }
      <div class="divider"></div>
      <button mat-icon-button color="primary"><mat-icon>search</mat-icon></button>
    </div>
  </div>
  <div class="navbar-right">
    <button mat-icon-button class="mat-elevation-z3 account-icon-button" [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      @if (authStore.isAuthenticated$()) {
        <div class="user-menu-header">
          <span>{{ authStore.user$()?.username || 'User' }}</span>
        </div>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      } @else {
        <button mat-menu-item (click)="login()">
          <mat-icon>login</mat-icon>
          Login
        </button>
      }
    </mat-menu>
  </div>
</div>
