<div class="update-tour" [formGroup]="tourForm">
  <div class="control-section">
    <button class="btn-back"
            (click)="back()">
      <!-- Back icon -->
      Back
    </button>
  </div>
  <div class="field">
    <label>From</label>
    <input type="text" formControlName="from" placeholder="Start location"
           [class.error]="errors().includes( 'from')"
           [class.correct]="corrects().includes( 'from')"/>
  </div>

  <!-- $index tracks the index of each row (if removed)-->
  @for (stops of getStops().controls; track $index) {
    <div class="field stop-field">
      <label>Stop {{ $index + 1 }}</label>
      <input type="text"
             [formControl]="getStops().controls[$index]"
             [class.error]="errors().includes('stop-' + $index)"
             [class.correct]="corrects().includes('stop-' + $index)"
             placeholder="Intermediate stop" />
      <button class="btn-icon btn-remove-stop" title="Remove stop" (click)="removeStop($index)">
        <img src="icons/minus.png" alt="" height="18" width="18" />
      </button>
    </div>
  }

  <div class="field">
    <label>To</label>
    <input type="text" formControlName="to" placeholder="End location"
           [class.error]="errors().includes( 'to')"
           [class.correct]="corrects().includes( 'to')"/>
  </div>

  <div class="extra-fields">
    <div class="field">
      <label>Tour Name</label>
      <input type="text" formControlName="name" placeholder="Enter tour name"
             [class.error]="errors().includes( 'name')"
             [class.correct]="corrects().includes( 'name')"/>
    </div>
    <div class="field">
      <label>Tour Description</label>
      <textarea formControlName="description" rows="3" placeholder="Enter tour description"
                [class.correct]="corrects().includes( 'description')">
      </textarea>
    </div>
  </div>

  <div class="actions-row">
    <div class="transport-buttons">
      <button class="btn-icon" title="Add waypoint" (click)="addStop()">
        <!-- Plus icon -->
        <img src="icons/plus.png" alt="" height="18" width="18" />
      </button>

      <button class="btn-icon" title="Bike"
              (click)="toggleTransportMode('bike')"
              [class.active]="selectedMode() === 'bike'"
              [class.error]="errors().includes( 'transportMode')"
              [class.correct]="corrects().includes( 'transportMode')">
        <!-- Bike icon -->
        <img src="icons/bicycle.png" alt="" height="18" width="18"/>
      </button>

      <button class="btn-icon" title="Car"
              (click)="toggleTransportMode('car')"
              [class.active]="selectedMode() === 'car'"
              [class.error]="errors().includes( 'transportMode')"
              [class.correct]="corrects().includes( 'transportMode')">
        <!-- Car icon -->
        <img src="icons/car.png" alt="" height="18" width="18"/>
      </button>

      <button class="btn-icon" title="Walking"
              (click)="toggleTransportMode('walk')"
              [class.active]="selectedMode() === 'walk'"
              [class.error]="errors().includes( 'transportMode')"
              [class.correct]="corrects().includes( 'transportMode')">
        <!-- Walking icon -->
        <img src="icons/walker.png" alt="" height="18" width="18"/>
      </button>
    </div>


    <div class="action-buttons">
      <!-- Message -->
      @if (message()) {
        <span class="message">{{ message() }}</span>
      }

      <button class="btn-save"
              (click)="saveTour()"
              [class.disabled]="!tourForm.valid"
              [class.enabled]="tourForm.valid">
        <!-- Save icon -->
        <img src="icons/save.png" alt="" height="18" width="18" />
      </button>
    </div>
  </div>
</div>
