/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

ion-app {
  height: 100%;
  width: 100%;
  display: block;
}

.mobile-only {
  display: none !important;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }
}
