<div class="new-tour" [formGroup]="tourForm">
  <div class="field">
    <label>From</label>
    <input type="text" formControlName="from" placeholder="Start location" />
  </div>

  <!-- $index tracks the index of each row (if removed)-->
  @for (stops of intermediateStops(); track $index) {
    <div class="field stop-field">
      <label>Stop {{ $index + 1 }}</label>
      <input type="text" [value]="stops" (input)="updateStop($index, $event)" placeholder="Intermediate stop" />
      <button class="btn-icon btn-remove-stop" title="Remove stop" (click)="removeStop($index)">
        <img src="icons/minus.png" alt="" height="18" width="18" />
      </button>
    </div>
  }

  <div class="field">
    <label>To</label>
    <input type="text" formControlName="to" placeholder="End location" />
  </div>

  <div class="actions-row">
    <div class="transport-buttons">
      <button class="btn-icon" title="Add waypoint" (click)="addStop()">
        <!-- Plus icon -->
        <img src="icons/plus.png" alt="" height="18" width="18" />
      </button>

      <button class="btn-icon" title="Bike"
              (click)="toggleTransportMode('bike')"
              [class.active]="selectedMode() === 'bike'">
        <!-- Bike icon -->
        <img src="icons/bicycle.png" alt="" height="18" width="18"/>
      </button>

      <button class="btn-icon" title="Car"
              (click)="toggleTransportMode('car')"
              [class.active]="selectedMode() === 'car'">
        <!-- Car icon -->
        <img src="icons/car.png" alt="" height="18" width="18"/>
      </button>

      <button class="btn-icon" title="Walking"
              (click)="toggleTransportMode('walk')"
              [class.active]="selectedMode() === 'walk'">
        <!-- Walking icon -->
          <img src="icons/walker.png" alt="" height="18" width="18"/>
      </button>
    </div>


    <div class="action-buttons">
      <!-- Message -->
      @if (message()) {
        <span class="message">{{ message() }}</span>
      }

      <button class="btn-save"
              (click)="saveTour()"
              [class.disabled]="!validInput()"
              [class.enabled]="validInput()">
        <!-- Save icon -->
        <img src="icons/save.png" alt="" height="18" width="18" />
      </button>

      <button class="btn-expand" (click)="toggleExpanded()" [title]="expanded() ? 'Collapse' : 'Expand'">
        <!-- Expand icon -->
        @if (expanded()) {
          <img src ="icons/up.png" alt="" height="18" width="18" />
        }@else{
          <img src ="icons/down.png" alt="" height="18" width="18" />
        }
      </button>
    </div>
  </div>

  @if (expanded()) {
    <div class="extra-fields">
      <div class="field">
        <label>Tour Name</label>
        <input type="text" formControlName="name" placeholder="Enter tour name" />
      </div>
      <div class="field">
        <label>Tour Description</label>
        <textarea formControlName="description" rows="3" placeholder="Enter tour description"></textarea>
      </div>
    </div>
  }
</div>
